:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.city {
    background-color: #48BDB5;
    color: #FFFFFF;
    padding: 1em 0;
    font-size: small;
}

.time {
    background-color: white;
    color: #48BDB5;
    margin-top: 0;
    padding: 1em 0;
    font-size: small;
}

/*.py-5 .container .row {
    background-color: #fff;
}

.py-5 .container .row  .col-lg-3 {
    margin-top: 25px;
}*/

.bg-light {
    background-color: white !important;
}

.card-body {
    color: grey;
    font-size: small;
}

.card-body a{
    color: black;
    font-weight: bold;
    font-size: medium;
}

footer a{
    color: #48BDB5;
}

footer a:hover{
    color: #48BDB5;
}

.active {
    border-style: solid;
    border-color:  #48BDB5;
}

